/* Global CSS */
body {
    margin: 0;
    background-color: rgb(217, 232, 245);
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
p{
    text-align: justify;
}
button {
    padding: 8px 12px 8px 12px;
    border-radius: 20px 20px;
    background-color: rgb(18, 65, 65);
    color: white;
    width: 120px;
}

img {
    max-width: 100%;
}
.title {
    text-align: center;
}

/* Home */
.container {
    display: flex;
    background-color: rgb(255, 255, 255);
    margin: 40px;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.37);
    
}

.container .hm-profile {
    margin: auto;
    padding: 20px;
    width: 400px;
}
.container .hm-profile .cta-profile{
    display: flex;
    align-items: center;
}

.container .hm-profile .social-menu {
    display: flex;
}
.container .hm-profile .social-menu ul i{
    padding: 12px;
}

/* Card */

.container .hm-profile-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 40px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.37);
} 
.container .hm-profile-card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.container .hm-profile-card div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* navbar */
nav {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
}

nav .left {
    margin-left: 40px;
    display: flex;
    align-items: center;
}

nav .left .logo{
    margin: auto;
    width: 40px;
}
nav .left ul{
    display: flex;
}

nav .left li{
    list-style-type: none;
    padding: 0px 10px;
    
}

nav .right {
    margin-right: 40px;
    display: flex;
    padding: 0px 10px;   
}

/* contact */

form {
    width: 300px;
    margin: 50px auto;
}

form h1{
    text-align: center;
}

input,
select,
textarea{
    width: 100%;
    padding: 10px;
    border: 1px transparent;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.37);
    border-radius: 5px;
    box-sizing: border-box;
}

textarea{
    resize: vertical;
}

form div{
    margin-bottom: 15px;
}
form button{
    border: none;
    color: white;
    background-color: rgb(18, 65, 65);
    font-weight: bold;
    cursor: pointer;
}

/* My project */
.container-myproject {
    display: flex;
    margin: 10px 40px;
    padding: 12px;
    border-radius: 5px;
    
}
.container-myproject .container-card{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.container-myproject .container-card .container-content{ 
   width: 200px;
   margin: 10px;
   text-align: justify;
}
.container-myproject .container-card .container-content .container-button{ 
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  gap: 10px;
}
.project .checkbox{
 display: flex;
 justify-content: space-around;
 gap: 10px;
}
.project .checkbox .form-checkleft{
    display: flex;
   width: 50%;
   flex-direction: column;
   align-items: flex-start;
   
}
.project .checkbox .form-checkright{
   display: flex;
   width: 50%;
   flex-direction: column;
   align-items: flex-start;
   
}
.project .checkbox .checklist{
   display: flex;
}

/* detail */
.container-detail {
    display: flex;
    margin: 10px 40px;
    padding: 12px;
    border-radius: 5px;
    
}
.container-detail .content{
    margin: 0px 40px;
    padding: 12px;
    text-align: justify;
    
}
.container-detail .container-content {
    margin: auto;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-detail .Image img  {
    width: 600px;
    height: 300px;
    object-fit: cover;
}
.container-detail .image-detail{
    width: 400px;
    margin: 0px 20px auto;
    height: 300px;
}

.container-detail .image-detail .duration {
  width: 100%;

}
.duration-title { 
    margin-bottom: 15px;
    font-size: 20px;
}
   
.duration-time, .duration-date {
    align-items: center;
    margin-bottom: 5px;
    margin-left: 15px;
}
.technologies {
    width: 100%;
}

.technologies-title {
    margin-bottom: 12px;
    font-size: 20px;
}

.technologies-content {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.technologies-content .technologies-left{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
}
.technologies-content .technologies-right{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
}
.technologies-content .technologies-right img{
    width: 20px;
    height: 20pxpx;
}
