/* detail */
.container-detail {
    display: flex;
    margin: 10px 40px;
    padding: 12px;
    border-radius: 5px;
    
}
.container-detail .content{
    margin: 0px 40px;
    padding: 12px;
    text-align: justify;
    
}
.container-detail .container-content {
    margin: auto;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-detail .Image img  {
    width: 600px;
    height: 300px;
    object-fit: cover;
}
.container-detail .image-detail{
    width: 400px;
    margin: 0px 20px auto;
    height: 300px;
}

.container-detail .image-detail .duration {
  width: 100%;

}
.duration-title { 
    margin-bottom: 15px;
    font-size: 20px;
}
   
.duration-time, .duration-date {
    align-items: center;
    margin-bottom: 5px;
    margin-left: 15px;
}
.technologies {
    width: 100%;
}

.technologies-title {
    margin-bottom: 12px;
    font-size: 20px;
}

.technologies-content {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.technologies-content .technologies-left{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
}
.technologies-content .technologies-right{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
}
.technologies-content .technologies-right img{
    width: 20px;
    height: 20pxpx;
}