<!DOCTYPE html>
<html lang="en">
<!-- Head -->

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>personal web</title>
  <!-- link CSS -->
  {{!-- <link rel="stylesheet" href="../assets/css/component/navbar.css"> --}}
  <link rel="stylesheet" href="../assets/css/page/home.css">
  <link rel="stylesheet" href="../assets/css/style.css" />
  {{!-- link Css -Bootstrap --}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<!-- Body -->

<body>
     <!-- Header -->
 <header id="header">
{{!-- ============ Nav Old ============== --}}
  {{!-- <nav class="nav-container">
    <div class="nav-left">
      <div class="logo">
        <a href="/">
          <img src="https://dumbways.id/assets/images/brandred.png" alt="logo" />
        </a>
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/myproject">My Project</a> </li>
        <li><a href="/testimonial">My Testimonial</a> </li>
      </ul>
    </div>
    <div class="nav-right">
      <button class="btn-contact-me"> <a href="/contact" style="color: white;">
          Contact Me
        </a>
      </button>
      <button class="btn-hamburger" onclick="toggleNavbar()">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>
    </div>
  </nav> --}}
  {{!-- <div>
    <ul class="hamburger-container hamburger-hide" id="hamburger-container">
      <li><a href="/">Home</a> </li>
      <li><a href="/myproject">My Project</a> </li>
      <li><a href="/testimonial">My Testimonial</a> </li>
      <li><a href="/Contact">Contact Me</a></li>
    </ul>
  </div> --}}
{{!-- =================================== --}}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown link
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</header>
  <!-- Main -->
  <main id="main">
    <div class="home-container">
      <div class="hm-profile">
        <h1>Hi Welcome to my Hut</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
          provident consequatur? Odio officia illum, amet alias excepturi ipsam
          sit harum recusandae delectus explicabo perspiciatis voluptatem
          quibusdam optio esse aut fuga! Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Laborum odio excepturi provident aperiam minus
          corrupti nostrum et impedit culpa, accusantium deleniti maxime nisi
          beatae illum consequuntur harum numquam? Repellendus, perferendis.
        </p>
        <div class="cta-profile">
          <button>Contact</button>
          <a style="padding: 0px 20px;" href="#">download CV
            <i class="fa-solid fa-download"> </i>
          </a>
        </div>
        <div class="social-menu">
          <ul class="social-item">
            <a href="#" class="">
                <i class="fa-brands fa-linkedin fa-xl"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-instagram fa-xl"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-facebook fa-xl"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-twitter fa-xl"></i>
            </a>
          </ul>
        </div>
      </div>
      <!-- div card -->
      <div class="hm-profile-card">
        <img src="./assets/images/picture.jpg" alt="picture" />
        <div>
          <h2>Muhamad Mufid Bachri</h2>
          <p>
            Fullstack Developer
          </p>
        </div>
      </div>
  </main>
  <!-- Footer -->
  <footer></footer>

  <!-- script -->
  <script src="https://kit.fontawesome.com/917179b360.js" crossorigin="anonymous"></script>
  <script src="../assets/js/index.js"></script>
  <script src="../assets/js/navbar.js"></script>
  {{!-- scriptJS-Bootstrap --}}
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>

</html>