/* My project */
.project-container{
    width: 75%;
    margin: auto;
    display: flex;
  
  }
  .project-container .form-container{
    width: 500px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  form h1{
    text-align: center;
  }
  .form-title,.form-description, .form-date, .checkbox-title{
    font-weight: bold;
    font-size: larger;
  }
  .form-date{
    display: flex;
    justify-content: space-between;
  }
  
  .checkbox-menu{
    padding: 5px;
  }
  .checklist{
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
  .input-form,
  select,
  textarea{
    width: 100%;
    padding: 10px;
    border: 1px transparent;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.37);
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .input-form{
    background-color: white;
  }
  textarea{
    resize: vertical;
  }
  
  .project-result {
    width: 100%;
    background-color: white;
  }
  .project-result .title{
      padding-top: 20px;
  
  }
  .project-content {
      display: flex;
      justify-content: center;
      margin: 10px 40px auto;
      padding: 12px;
      border-radius: 5px;
      
  }
  .project-content .container-card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .project-content .container-card .container-content{ 
     width: 200px;
     margin: 10px;
     text-align: justify;
  }
  .project-content .container-card .container-content .container-button{ 
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    gap: 10px;
  }
  
  .button-submit{
    display: flex;
    justify-content: end;
  }