.testimonial-container {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .rating {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  
  .container-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .rating-btn {
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
  }
  .testimonial {
    width: 25%;
    margin: 0px 15px 30px 15px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .testimonial img {
    height: 300px;
    object-fit: cover;
  }
  .profile-testimonial {
    width: 100%;
  }
  .quote {
    font-size: 16px;
    font-style: italic;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .author , .rate{
    font-weight: bold;
    text-align: right;
  }
  