/* HEADER */
/* navbar */
.nav-list {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
}
.nav-list .left {
    margin-left: 40px;
    display: flex;
    align-items: center;
}

.nav-list .left .logo{
    margin: auto;
    width: 40px;
}
.nav-list .left ul{
    display: flex;
}

.nav-list .left li{
    list-style-type: none;
    padding: 0px 10px;
    
}

.nav-list .right {
    margin-right: 40px;
    display: flex;
    padding: 0px 10px;   
}
.hamburger-container li{
    text-align: center;
    color: white;
    border: 2px solid;
    padding: 10px;
    font-weight: bold;
    font-size: x-large;
}
.hamburger-container a{
    color: white;
}

.hamburger-container {
    background-color: rgb(18, 65, 65);
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.btn-hamburger {
    display: none;
}
.hamburger-hide {
    display: none;
  }

